<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8"> 
    {{!--Linking Bootstrap--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {{!-- linking the reset CSS --}}
    <link rel="stylesheet" href="../../public/assets/reset.css" type="reset/css" /> 
    {{!-- linking the style CSS --}}
    <link rel="stylesheet" href="../../public/assets/style.css" type="text/css" /> 
    {{!-- linking google fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Monofett|Nunito+Sans" rel="stylesheet">

    <title>Burger Hub</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/assets/burgers.js">00</script>
</head>

<body>

    {{{ body }}}


</body>


</html>