<div class="container">

    <h1>Welcome to Burger Hub!</h1>

    {{!-- ALL THE BURGERS TO EAT --}}
    <div class="col-md-6 col-left">
        <table>
            <h2>These burgers are waiting to be devoured!</h2>

           
                {{#each burgers}} 
                {{#unless devoured}} 
                {{!-- ASK ABOUT THIS IN OFFICE HOURS --}} {{> burgers/burger-block devoured = true}}
                {{/unless}} 
                {{/each}}
            
        </table>
    </div>


    {{!-- DEVOURED BURGER BOXES --}}
    <div class="col-md-6 col-right">

    <h2>These burgers have been devoured!</h2>
    <table>
   
        {{#each burgers}} 
        {{#if devoured}} 
        {{> burgers/burger-block devoured=false}} 
        {{/if}} 
        {{/each}}
    </table>

      </div>  
<div class="row">
    <div class="col-md-12">


    <h2>Add a burger</h2>

    <form class="create-form">
        <div class="form-group">
            <label for="bur">Burger Name:</label>
            <input type="text" id="bur" name="burger_name">

        </div>

        <div class="form-group">
            <label for="devoured">Devour it?</label>
            <br>
            <input type="radio" name="devoured" value="1" checked> Devoured!
            <br>
            <input type="radio" name="devoured" value="0"> You ate it!
        </div>

        <button type="submit">Add a Burger</button>
    </form>
</div>
    </div>

</div>