body {
    font-family: 'Nunito Sans', sans-serif;
    background: #fdcc05;
}

h1, h2 {
    font-family: 'Monofett', cursive;
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
    }

    h1 {
        font-size: 70px;
        letter-spacing: 1.5;
    }

    h2 {
        font-size: 45px;
    }

img {
    width: 50%;
    height: auto;
}

h3 {
    text-align: center;
}

.card-header {
   border-radius: 2px;
   -webkit-box-shadow: 0px 3px 41px -4px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 3px 41px -4px rgba(0,0,0,0.75);
   box-shadow: 0px 3px 41px -4px rgba(0,0,0,0.75);
   background: linear-gradient(
       to bottom,
       
#bf3c28,
   
#d85a33
   );
   border: solid 1.5px #41201a;

}


.create-form {
    text-align: center;
}

button {
    
    font-size: 15px;
    background-color: #fcf0d7;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    height: 28px;
}

.card-body  {
    line-height: 2;
}